/* vscode/src/vs/workbench/contrib/terminal/browser/media/terminal.css */
/* 从放置在底部的终端面板中移除顶部的空白
   在窗口多余空间不满一行的时候 这个空白尤为明显
   会让顶部文本和边框之间产生一段空隙 */
.monaco-workbench .editor-instance .xterm,
.monaco-workbench .pane-body.integrated-terminal .xterm {
    bottom: unset;
    top: 0;
}

/* vscode/src/vs/editor/browser/widget/codeEditorWidget.ts */
/* 由 microsoft/vscode#44141 引入的 no-repeat 设置
   让 hint 下划线只有第一个字符短短的一截
   是故意这么做的，避免 SpellChecker 的检测结果不要划地到处都是 */
/* 回归默认，控制哪些被归类为 Info 级别，这效果可以减少编辑器里的提示噪音 */
/*
.monaco-workbench .squiggly-hint {
    background-repeat: repeat-x;
}
*/

/* vscode/src/vs/workbench/browser/media/style.css */
/* 修改UI字体, Maple Mono 比较圆润可爱
   但要应用起来比较麻烦，早年的 Custom UI 插件已经失效，2024 最新方法是
   https://github.com/subframe7536/vscode-custom-ui-style 
   配合 Window Zoom Level >= 2.0 在 Windows LoDPI 屏幕上使用较好 */
/* 已移动到插件 settings.json 中, 所以这段不再需要了
   "custom-ui-style.font.monospace": "Maple Mono NF CN"
   "custom-ui-style.font.sansSerif": "Maple UI" */
/*
.windows:lang(zh-Hans) {
    font-family: "Segoe WPC", "Segoe UI", "Maple Mono NF CN", "Microsoft YaHei", sans-serif;
}
*/
