/* vscode/src/vs/workbench/contrib/terminal/browser/media/terminal.css */
/* 从放置在底部的终端面板中移除顶部的空白
   在窗口多余空间不满一行的时候 这个空白尤为明显
   会让顶部文本和边框之间产生一段空隙 */
.monaco-workbench .editor-instance .xterm,
.monaco-workbench .pane-body.integrated-terminal .xterm {
    bottom: unset;
    top: 0;
}

/* vscode/src/vs/editor/browser/widget/codeEditorWidget.ts */
/* 由 microsoft/vscode#44141 引入的 no-repeat 设置
   让 hint 下划线只有第一个字符短短的一截
   找不到这么设置的原因 (可能从visual studio继承来的吧) */
.monaco-workbench .squiggly-hint {
    background-repeat: repeat-x;
}
