# EditorConfig is awesome: https://editorconfig.org
# This file originate from https://github.com/enihsyou/shared-config/blob/main/packages/editor-config/.editorconfig

# top-most EditorConfig file
root = true

# 所有文件的通用设置
[*]
# 使用UTF-8字符编码
charset = utf-8
# 使用LF行尾（Unix风格）
end_of_line = lf
# 除指定都使用4个空格缩进，适当加大缩进便于阅读
indent_size = 4
# 使用空格进行缩进
indent_style = space
# 文件末尾插入空行
insert_final_newline = true
# 去除行尾空白字符
trim_trailing_whitespace = true

# 特定文件类型的设置
[Makefile]
# 必须使用制表符
indent_style = tab

[*.go]
# Go 语言使用制表符
indent_style = tab

[*.sh]
# https://google.github.io/styleguide/shellguide.html#indentation
indent_size = 2

[*.{bat,cmd}]
# Windows批处理文件使用CRLF行尾
end_of_line = crlf

[*.{yml,yaml}]
# 社区习惯
indent_size = 2

[*.{html,xml,svg}]
# 常遇很长的行
indent_size = 2

[{*json,*.json{5,c,l}}]
# 数据文件适当扩大内容显示范围
indent_size = 2

[*.{md,markdown}]
# 保留行尾空白用于换行
trim_trailing_whitespace = false

[*.reg]
# https://gist.github.com/SalviaSage/8eba542dc27eea3379a1f7dad3f729a0
charset = utf-16le
end_of_line = crlf

[*.ps1]
# 带 BOM 支持旧的 Windows Powershell 5.1
# 但是会导致新的 PowerShell 7.x 版本上出现乱码
# charset = utf-16le
