# Jetbrains
.idea/
# Visual Studio Code
.vscode/

# aria2 certs
cli-app/aria2/aria2.crt.pem
cli-app/aria2/aria2.key.pem
cli-app/aria2/aria2.pfx
# aria2 session is transient
cli-app/aria2/aria2.session

# symlinks
gui-app/kitty/venv
gui-app/kitty/macos-launch-services-cmdline

# private network
system/router/RT-AX86U/dnsmasq.d/*.list
system/router/RT-AX86U/dnsmasq.d/host.conf

# systemd runtime
system/WSL2/systemd/**/*.wants/
# programmatically generated service files
system/WSL2/systemd/user/clawdbot-gateway.service
