# Jetbrains
.idea/
# Visual Studio Code
.vscode/

# aria2 certs
cli-app/aria2/aria2.crt-chain.pem
cli-app/aria2/aria2.crt.pem
cli-app/aria2/aria2.key.pem
cli-app/aria2/aria2.pfx
# aria2 session is transient
cli-app/aria2/aria2.session

# symlinks
gui-app/kitty/venv
gui-app/kitty/macos-launch-services-cmdline

# private network
**/dnsmasq.d/*.list
**/dnsmasq.d/host.conf
