# filepath: .gitattributes
*.bat text eol=crlf
*.reg text eol=crlf
gui-app/MacType/*.ini text diff=utf16 eol=crlf working-tree-encoding=UTF-16LE-BOM
# language detection corrections
# see https://github.com/github-linguist/linguist/blob/main/docs/overrides.md
system/WSL2/systemd/user/*.socket linguist-language=desktop
