# Jetbrains
.idea/
# Visual Studio Code
.vscode/

# aria2 certs
/aria2/aria2.pem.crt
/aria2/aria2.p12
# aria2 session is transient
/aria2/aria2.session

# symlinks
gui-app/kitty/venv
gui-app/kitty/macos-launch-services-cmdline
cli-app/bat/config
