<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.enihsyou.ramdisk.create</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Users/enihsyou/.dotfiles/macOS/craeteRamDisk.sh</string>
		<string>1024</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>StandardErrorPath</key>
	<string>/tmp/local.ramdisk.load.agent.stderr</string>
	<key>StandardOutPath</key>
	<string>/tmp/local.ramdisk.load.agent.stdout</string>
</dict>
</plist>
